<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

    <form class="w3-container" action="/index"  method="POST" enctype="multipart/form-data">
        <h2 class="w3-text-blue">Register Form</h2>

        <p>      
        <label class="w3-text-blue"><b>Enter Full Name</b></label>
        <input class="w3-input w3-border" name="name_field" type="text"></p>
        <p>      
        <label class="w3-text-blue"><b>*enter Mobile number</b></label>
        <input class="w3-input w3-border" name="name_phone" type="text"></p>
        <p>    
        <p>      
        <label class="w3-text-blue"><b>*enter Youtube Link </b></label>
        <input class="w3-input w3-border" name="name_video" type="text"></p>
        <p>  
        <p>      
        <label class="w3-text-blue"><b>*enter email </b></label>
        <input class="w3-input w3-border" name="name_email" type="text"></p>
        <p> 
        <p>    
        <label class="w3-text-blue"><b>*enter photo </b></label>
        <input class="w3-input w3-border" name="myimage" type="file" accept="image/*"></p>
        <p>
        <p><button class="w3-button w3-dark-grey">Register</button></p>
         
    </form>
</body>
</html>